backend/data/pdfs/**/*.pdf filter=lfs diff=lfs merge=lfs -text
backend/data/cards/**/*.jpg filter=lfs diff=lfs merge=lfs -text
backend/data/cards/**/*.jpeg filter=lfs diff=lfs merge=lfs -text
backend/data/cards/**/*.png filter=lfs diff=lfs merge=lfs -text
